---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/UnsentLetters/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=im%2Fa8WXV0ZWfLGfzRYB7BB1AnBIUYoZkgVo267Ns6YlvBCHSregK%2FlHKfWTZ%2B4e2EMxufnciYZQkhChzmBU5VMMTjcVBRlZE
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "t5", "data": {"user_is_contributor": null, "banner_img":
        "", "submit_text_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Letters
        must have a real, intended recipient. Letters to your self should be posted
        to &lt;a href=\"/r/offmychest\"&gt;/r/offmychest&lt;/a&gt;. Letters to large
        groups of people will be removed. Song lyrics and youtube links should go
        to &lt;a href=\"/r/unsentmusic\"&gt;/r/unsentmusic&lt;/a&gt;. Poetry is better
        off in &lt;a href=\"/r/OCPoetry\"&gt;/r/OCPoetry&lt;/a&gt;.&lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;", "user_is_banned": null, "wiki_enabled": false, "show_media":
        true, "id": "2seir", "description": "[](https://www.reddit.com/r/ProCSS/)\n\n\nWe''ve
        all had times where we''ve wanted to spill the beans to someone, be they bad
        or good, but never did or can''t for whatever reasons. Post a letter here,
        whether it''s a Thank You note or something not so happy.\n\nLetter to an
        ex? Mad at the parents? Roommates getting to you? Thankful but can''t express
        it?\n\nThis is the place to say what needs to be said. \n___________________________________________\n**I[...]
- request:
    method: get
    uri: https://www.reddit.com/r/UnsentLetters/new.json?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=cgF%2Fh0D9DWHFl1gXDvzxe5gTZnSw7OpUoa1vJjwtd9oItZ8FBqVUNxLG2QSz%2FDpkQySjciNrnFPpHhl05%2ByMyOF%2BlyMt79kr
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"contest_mode": false, "subreddit_name_prefixed": "r/UnsentLetters",
        "banned_by": null, "media_embed": {}, "thumbnail_width": null, "subreddit":
        "UnsentLetters", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;my
        eyes hurt when i remember how bright it was then. the memories are blinding
        me inside out. i don&amp;#39;t want to look at it anymore but I can&amp;#39;t
        just forget the sun.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;", "selftext":
        "my eyes hurt when i remember how bright it was then. the memories are blinding
        me inside out. i don''t want to look at it anymore but I can''t just forget
        the sun.", "likes": null, "suggested_sort": null, "user_reports": [], "secure_media":
        null, "link_flair_text": null, "id": "6je0sw", "view_count": null, "secure_media_embed":
        {}, "clicked": false, "report_reasons": null, "author": "pictureyou", "saved":
        false, "mod_reports": [], "name": "t3_6je0sw", "score": 1, "approved_by":
        null, "over_18": false, "domain": "self.UnsentLetters", "hidden": false, "thumbnail":
        "self", "subreddit_id": "t5_2seir", "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "gilded": 0, "downs": 0, "brand_safe":
        true, "archived": false, "removal_reason": null, "can_gild": false, "thumbnail_height":
        null, "hide_score": true, "spoiler": false, "permalink": "/r/UnsentLetters/comments/6je0sw/remembering_you/",
        "num_reports": null, "locked": false, "stickied": false, "created": 1498421613.0,
        "url": "https://www.reddit.com/r/UnsentLetters/comments/6je0sw/remembering_you/",
        "author_flair_text": null, "quarantine": false, "title": "remembering you",
        "created_utc": 1498392813.0, "distinguished": null, "media": null, "num_comments":
        0, "is_self": true, "visited": false, "subreddit_type": "public", "is_video":
        false, "ups": 1}}], "after": "t3_6je0sw", "before": null}}'
  recorded_at: Sun, 25 Jun 2017 13:00:23 GMT
recorded_with: VCR 3.0.3
