---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/UnsentLetters/new.json?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=EdbtqSXSr28k33JL%2F9UaLxN2ckWgih8%2Bv9t6NxdbzZaFMbx94Pjgzu93s7ywKbR0NIntBBrL%2ByqfELO7aHD1%2FSsShnrH9rRS
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"contest_mode": false, "subreddit_name_prefixed": "r/UnsentLetters",
        "banned_by": null, "media_embed": {}, "thumbnail_width": null, "subreddit":
        "UnsentLetters", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;my
        eyes hurt when i remember how bright it was then. the memories are blinding
        me inside out. i don&amp;#39;t want to look at it anymore but I can&amp;#39;t
        just forget the sun.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;", "selftext":
        "my eyes hurt when i remember how bright it was then. the memories are blinding
        me inside out. i don''t want to look at it anymore but I can''t just forget
        the sun.", "likes": null, "suggested_sort": null, "user_reports": [], "secure_media":
        null, "link_flair_text": null, "id": "6je0sw", "view_count": null, "secure_media_embed":
        {}, "clicked": false, "report_reasons": null, "author": "pictureyou", "saved":
        false, "mod_reports": [], "name": "t3_6je0sw", "score": 1, "approved_by":
        null, "over_18": false, "domain": "self.UnsentLetters", "hidden": false, "thumbnail":
        "self", "subreddit_id": "t5_2seir", "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "gilded": 0, "downs": 0, "brand_safe":
        true, "archived": false, "removal_reason": null, "can_gild": false, "thumbnail_height":
        null, "hide_score": true, "spoiler": false, "permalink": "/r/UnsentLetters/comments/6je0sw/remembering_you/",
        "num_reports": null, "locked": false, "stickied": false, "created": 1498421613.0,
        "url": "https://www.reddit.com/r/UnsentLetters/comments/6je0sw/remembering_you/",
        "author_flair_text": null, "quarantine": false, "title": "remembering you",
        "created_utc": 1498392813.0, "distinguished": null, "media": null, "num_comments":
        0, "is_self": true, "visited": false, "subreddit_type": "public", "is_video":
        false, "ups": 1}}, {"kind": "t3", "data": {"contest_mode": false, "subreddit_name_prefixed":
        "r/UnsentLetters", "banned_by": null, "media_embed": {}, "thumbnail_width":
        null, "subreddit": "UnsentLetters", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div
        class=\"md\"&gt;&lt;p&gt;I love you. I have for a while now. And nothing breaks
        my heart more than knowing that you will never be mine or I yours. Tonight
        you uttered the words &amp;quot;I&amp;#39;m not looking for your c[...]
